<table class="min-w-full divide-y divide-brand-200">
  <thead class="bg-brand-50">
    <tr>
      <th class="px-4 py-3 text-left text-xs font-medium tracking-wider text-brand-500 uppercase">
        ID
      </th>
      <th class="px-4 py-3 text-left text-xs font-medium tracking-wider text-brand-500 uppercase">
        Nombre
      </th>
      <th class="px-4 py-3 text-left text-xs font-medium tracking-wider text-brand-500 uppercase">
        Dirección
      </th>
      <th class="px-4 py-3 text-left text-xs font-medium tracking-wider text-brand-500 uppercase">
        Teléfono
      </th>
      <th class="px-4 py-3 text-left text-xs font-medium tracking-wider text-brand-500 uppercase">
        Email
      </th>
      <th class="px-4 py-3 text-left text-xs font-medium tracking-wider text-brand-500 uppercase">
        Tipo
      </th>
      <th class="px-4 py-3 text-left text-xs font-medium tracking-wider text-brand-500 uppercase">
        Precio
      </th>
      <th class="px-4 py-3 text-left text-xs font-medium tracking-wider text-brand-500 uppercase">
        Horas
      </th>
    </tr>
  </thead>
  <tbody class="divide-y divide-brand-200 bg-white">
    <ng-container *ngIf="pagination | async as paginationData">
      <ng-container *ngFor="let company of paginationData.items; let i = index">
        <tr>
          <td class="px-4 py-3 whitespace-nowrap">{{ company.id }}</td>
          <td class="px-4 py-3 whitespace-nowrap">{{ company.name }}</td>
          <td class="px-4 py-3 whitespace-nowrap">{{ company.number }}</td>
          <td class="px-4 py-3 whitespace-nowrap">{{ company.email }}</td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
