<section class="flex flex-col gap-10 py-24">
  <header class="text-center">
    <h1 class="text-3xl font-bold text-primary-500">¿Por qué elegir CleanFix?</h1>
  </header>
  <div class="flex flex-wrap items-center justify-center gap-16">
    <app-why-us-card
      title="Red de profesionales"
      description="Colaboramos únicamente con empresas certificadas y con amplia experiencia en el sector."
      svgSource="/svg/net.svg"
    />
    <app-why-us-card
      title="Calidad Garantizada"
      description="Supervisamos cada proyecto para asegurar los más altos estándares de calidad y acabado."
      svgSource="/svg/like.svg"
    />
    <app-why-us-card
      title="Gestión Integral"
      description="Nos encargamos de todo el proceso, desde la planificación hasta la entrega final del proyecto."
      svgSource="/svg/company.svg"
    />
  </div>
</section>
