<section class="h-80 overflow-hidden bg-brand-100 py-6">
  <div class="animate-scroll flex">
    <div
      class="flex min-w-full flex-shrink-0 justify-center gap-17 [&>img]:h-20 [&>img]:w-80 [&>img]:flex-shrink-0 [&>img]:object-contain"
    >
      <img src="/svg/brand2.svg" alt="Brand2" />
      <img src="/svg/brand3.svg" alt="Brand3" />
      <img src="/svg/brand4.svg" alt="Brand4" />
      <img src="/svg/brand5.svg" alt="Brand5" />
      <img src="/svg/brand6.svg" alt="Brand6" />
    </div>
    <div
      class="flex min-w-full flex-shrink-0 justify-center gap-17 [&>img]:h-20 [&>img]:w-80 [&>img]:flex-shrink-0 [&>img]:object-contain"
    >
      <img src="/svg/brand2.svg" alt="Brand2" />
      <img src="/svg/brand3.svg" alt="Brand3" />
      <img src="/svg/brand4.svg" alt="Brand4" />
      <img src="/svg/brand5.svg" alt="Brand5" />
      <img src="/svg/brand6.svg" alt="Brand6" />
    </div>
  </div>
</section>
