<div class="flex h-full flex-col">
  <div class="mx-2 my-5 sm:mx-7">
    <app-search-bar [initialValue]="searchTerm()" (searchChange)="onSearchChange($event)" />
  </div>

  <div class="mx-2 mb-5 flex min-h-0 flex-grow flex-col sm:mx-7">
    <div class="min-h-0 flex-grow">
      <app-table
        [items]="incidences()"
        [tableColumns]="columns"
        [isLoading]="isLoading()"
        [hasError]="hasError()"
        [errorMessage]="errorMessage()"
        [searchTerm]="searchTerm()"
        [emptyMessage]="'No hay incidencias disponibles'"
        (rowClick)="handleRowClick($event)"
      />
    </div>
    <div>
      <app-pagination
        [props]="{
          pageNumber: pageNumber(),
          pageSize: pageSize(),
          totalPages: totalPages(),
          totalCount: totalCount(),
          hasPreviousPage: hasPreviousPage(),
          hasNextPage: hasNextPage(),
        }"
        (pageNumberChange)="setPageNumber($event)"
        (pageSizeChange)="setPageSize($event)"
      />
    </div>
  </div>
  @if (showDialog() && incidenceId) {
    <app-incidence-dialog
      [incidenceId]="incidenceId"
      (closeDialog)="handleCloseDialog()"
      (taskCreated)="handleTaskCreated()"
    />
  }
</div>
