@import 'tailwindcss';
@import './preflight.css' layer(base);

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .min-h-screen {
    min-height: 100svh;
  }

  .h-screen {
    height: 100svh;
  }

  @media (min-width: 768px) {
    .min-h-screen {
      min-height: 100vh;
    }

    .h-screen {
      height: 100vh;
    }
  }
}
