@import 'tailwindcss';
@import './preflight.css' layer(base);

@theme {
  --font-fallback:
    'Adjusted Arial Fallback', system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
    'Noto Sans', helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-primary: 'PlusJakartaSans';

  --color-primary-500: oklch(0.2712 0.0493 251.09);
  --color-accent-500: oklch(0.8263 0.1634 90.12);

  --color-brand-0: oklch(1 0 0);
  --color-brand-50: oklch(0.9682 0.0017 325.59);
  --color-brand-100: oklch(0.9373 0.0013 286.37);
  --color-brand-200: oklch(0.8721 0.0035 325.61);
  --color-brand-300: oklch(0.8071 0.0047 314.8);
  --color-brand-400: oklch(0.7393 0.0072 325.65);
  --color-brand-500: oklch(0.6715 0.0086 319.45);
  --color-brand-600: oklch(0.4705 0.0054 314.77);
  --color-brand-700: oklch(0.3627 0.0043 325.67);
  --color-brand-800: oklch(0.245 0.0024 325.65);
  --color-brand-900: oklch(0.0969 0 0);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .min-h-screen {
    min-height: 100svh;
  }

  .h-screen {
    height: 100svh;
  }

  @media (min-width: 768px) {
    .min-h-screen {
      min-height: 100vh;
    }

    .h-screen {
      height: 100vh;
    }
  }

  .animate-scroll {
    --gap: 1rem;
    display: flex;
    gap: var(--gap);
    animation: scroll 20s linear infinite;
  }

  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}

@font-face {
  font-family: 'Adjusted Arial Fallback';
  src: local(Arial);
  size-adjust: 112%;
  ascent-override: 74%;
  descent-override: normal;
  line-gap-override: normal;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/fonts/plusjakartasans-regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/fonts/plusjakartasans-medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/fonts/plusjakartasans-semibold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/fonts/plusjakartasans-bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

html {
  font-family: 'PlusJakartaSans', var(--font-fallback);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
