@import 'tailwindcss';
@import './preflight.css' layer(base);
@import './animations.css' layer(base);

@theme {
  --font-fallback:
    'Adjusted Arial Fallback', system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
    'Noto Sans', helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-primary: 'PlusJakartaSans';

  --color-primary-500: oklch(0.2712 0.0493 251.09);
  --color-primary-300: oklch(0.3333 0.0572 251.09);
  --color-accent-500: oklch(0.8263 0.1634 90.12);

  --color-success-200: #e6f9ed;
  --color-success-500: #18794e;

  --color-warning-200: #ffeaea;
  --color-warning-500: #b91c1c;

  --color-brand-0: oklch(1 0 0);
  --color-brand-50: oklch(0.97 0.01 251);
  --color-brand-100: oklch(0.94 0.015 251);
  --color-brand-200: oklch(0.88 0.02 251);
  --color-brand-300: oklch(0.82 0.025 251);
  --color-brand-400: oklch(0.76 0.03 251);
  --color-brand-500: oklch(0.7 0.035 251);
  --color-brand-600: oklch(0.55 0.04 251);
  --color-brand-700: oklch(0.4 0.045 251);
  --color-brand-800: oklch(0.25 0.035 251);
  --color-brand-900: oklch(0.1 0.02 251);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* Clase adicional para ocultar scrollbar en dialogs */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .min-h-screen {
    min-height: 100svh;
  }

  .h-screen {
    height: 100svh;
  }

  @media (min-width: 768px) {
    .min-h-screen {
      min-height: 100vh;
    }

    /* Oculta el icono nativo de mostrar contraseña en Edge */
    input[type='password']::-ms-reveal {
      display: none;
    }
    .h-screen {
      height: 100vh;
    }
  }

  .animate-scroll {
    --gap: 1rem;
    display: flex;
    gap: var(--gap);
    animation: scroll 20s linear infinite;
  }

  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}

@font-face {
  font-family: 'Adjusted Arial Fallback';
  src: local(Arial);
  size-adjust: 112%;
  ascent-override: 74%;
  descent-override: normal;
  line-gap-override: normal;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/fonts/plusjakartasans-regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/fonts/plusjakartasans-medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/fonts/plusjakartasans-semibold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/fonts/plusjakartasans-bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

html {
  font-family: 'PlusJakartaSans', var(--font-fallback);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
