<section id="services" class="flex w-full scroll-mt-24 bg-primary-500 px-5 py-10">
  <div class="mx-auto flex w-full max-w-6xl flex-col gap-15">
    <header class="flex flex-col gap-2">
      <h1 class="text-3xl font-bold text-brand-0">Servicios</h1>
      <h2 class="w-full text-base text-pretty text-brand-100 md:w-xl">
        Ofrecemos servicios profesionales de mantenimiento y reparación para mantener tu hogar en
        perfectas condiciones
      </h2>
    </header>
    <div class="mx-auto grid grid-cols-1 gap-20 md:grid-cols-2 md:lg:grid-cols-3">
      <app-service-card
        title="Servicio de Limpieza"
        description="Limpieza profunda y mantenimiento de espacios para un ambiente impecable."
        svgSource="/svg/drill.svg"
      />
      <app-service-card
        title="Servicio de Reparación"
        description="Reparaciones rápidas y eficientes para resolver cualquier problema en tu hogar."
        svgSource="/svg/furniture.svg"
      />
      <app-service-card
        title="Servicio de Mantenimiento"
        description="Mantenimiento preventivo profesional para tus instalaciones."
        svgSource="/svg/roller.svg"
      />
      <app-service-card
        title="Servicio de Instalación"
        description="Instalación profesional de equipos y sistemas con garantía de calidad."
        svgSource="/svg/saw.svg"
      />
      <app-service-card
        title="Servicio de Jardinería"
        description="Cuidado y diseño de jardines para mantener tus espacios verdes hermosos."
        svgSource="/svg/wire.svg"
      />
      <app-service-card
        title="Servicio de Pintura"
        description="Pintura profesional para renovar y embellecer cualquier espacio de tu hogar."
        svgSource="/svg/wrench.svg"
      />
    </div>
  </div>
</section>
