<section class="items flex bg-primary-500 items-center">
  <div claas="max-w-5xl flex w-full">
    <header>
      <h1 class="text-3xl font-bold text-brand-0">Servicios</h1>
      <h2 class="text-base text-brand-100 w-xl">
        Ofrecemos servicios profesionales de mantenimiento y reparación para mantener tu hogar en
        perfectas condiciones
      </h2>
    </header>
    <div>
        <app-service-card title="Servicio de Limpieza" description="Descripción del servicio de limpieza." svgSource="/svg/drill.svg" />
        <app-service-card title="Servicio de Reparación" description="Descripción del servicio de reparación." svgSource="/svg/furniture.svg" />
        <app-service-card title="Servicio de Mantenimiento" description="Descripción del servicio de mantenimiento." svgSource="/svg/roller.svg" />
        <app-service-card title="Servicio de Instalación" description="Descripción del servicio de instalación." svgSource="/svg/saw.svg" />
        <app-service-card title="Servicio de Jardinería" description="Descripción del servicio de jardinería." svgSource="/svg/wire.svg" />
        <app-service-card title="Servicio de Pintura" description="Descripción del servicio de pintura." svgSource="/svg/wrench.svg" />
    </div>
  </div>
</section>
