<section class="items flex w-full flex-col gap-20 bg-primary-500 px-5 py-10 md:px-30 lg:px-100">
  <header>
    <h1 class="text-3xl font-bold text-brand-0">Servicios</h1>
    <h2 class="w-full text-base text-brand-100 md:w-xl">
      Ofrecemos servicios profesionales de mantenimiento y reparación para mantener tu hogar en
      perfectas condiciones
    </h2>
  </header>
  <div class="mx-auto grid grid-cols-1 gap-20 md:grid-cols-2 md:lg:grid-cols-3">
    <app-service-card
      title="Servicio de Limpieza"
      description="Descripción del servicio de limpieza."
      svgSource="/svg/drill.svg"
    />
    <app-service-card
      title="Servicio de Reparación"
      description="Descripción del servicio de reparación."
      svgSource="/svg/furniture.svg"
    />
    <app-service-card
      title="Servicio de Mantenimiento"
      description="Descripción del servicio de mantenimiento."
      svgSource="/svg/roller.svg"
    />
    <app-service-card
      title="Servicio de Instalación"
      description="Descripción del servicio de instalación."
      svgSource="/svg/saw.svg"
    />
    <app-service-card
      title="Servicio de Jardinería"
      description="Descripción del servicio de jardinería."
      svgSource="/svg/wire.svg"
    />
    <app-service-card
      title="Servicio de Pintura"
      description="Descripción del servicio de pintura."
      svgSource="/svg/wrench.svg"
    />
  </div>
</section>
